@font-face {font-family: "SFProDisplay";src: url("../font/SFPRODISPLAY/SFProDisplay-Regular.ttf") format("truetype");font-weight: 400;font-display: fallback;}
@font-face {font-family: "SFProDisplay";src: url("../font/SFPRODISPLAY/SFProDisplay-Light.ttf") format("truetype");font-weight: 300;font-display: fallback;}
@font-face {font-family: "SFProDisplay";src: url("../font/SFPRODISPLAY/SFProDisplay-Medium.ttf") format("truetype");font-weight: 500;font-display: fallback;}
@font-face {font-family: "SFProDisplay";src: url("../font/SFPRODISPLAY/SFProDisplay-Bold.ttf") format("truetype");font-weight: bold;font-display: fallback;}
@font-face {font-family: "SFProDisplay";src: url("../font/SFPRODISPLAY/SFProDisplay-Semibold.ttf") format("truetype");font-weight: 600;font-display: fallback;}
@font-face {font-family: "SFProDisplay";src: url("../font/SFPRODISPLAY/SFProDisplay-Heavy.ttf") format("truetype");font-weight: 800;font-display: fallback;}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
:root {
    --red: #b5292f;
    --lightest-gray: rgb(249, 249, 249);
    --lighter-gray: rgb(240, 240, 240);
    --light-gray: rgb(144, 144, 144);
    --medium-gray: rgb(96, 96, 96);
    --dark-gray: rgb(13, 13, 13);
    --header-height: 60px;
    --animation-duration: 200ms;
    --animation-timing-curve: ease-in-out;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.sidebar {
    flex-shrink: 0;
    overflow: hidden;
    width: 75px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* height: calc(100vh - var(--header-height)); */
    padding-top: 5rem;
    align-items: center;
    justify-content: stretch;
    transition: width var(--animation-duration) var(--animation-timing-curve);
    position: sticky;
    left: 0;
    top: 0;
    /* top: var(--header-height); */
}

.sidebar .hidden-sidebar {
    opacity: 0;
    width: 0;
    height: 0;
    transition: opacity var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .hidden-sidebar {
    width: 100%;
    height: auto;
    opacity: 1;
}

.sidebar .top-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
}

.sidebar .channel-logo {
    display: block;

    transition: var(--animation-duration) var(--animation-timing-curve);
}


.sidebar .channel-logo>img {
    width: 100%;
    height: 100%;
}

.middle-sidebar {
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    margin: 1rem 0;
}

.middle-sidebar,
.bottom-sidebar {
    width: 100%;
}

.sidebar-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    list-style: none;
}

.sidebar.open .sidebar-link {
    justify-content: flex-start;
    padding-left: 1rem;
}

.sidebar-icon {
    font-size: 24px;
    flex-shrink: 0;
}

.sidebar-list .hidden-sidebar {
    margin-left: 1.5rem;
    white-space: nowrap;
}

.sidebar-link {
    display: flex;
    width: 100%;
    padding: 0.5rem 0;
    color: var(--light-gray);
    text-decoration: none;
    align-items: center;
    padding-left: 25px;
}

.sidebar-link:hover {
    color: var(--red);
}

.sidebar-list-item {
    position: relative;
    width: 100%;
    color: var(--light-gray);
}

.sidebar-list-item.active {
    color: var(--red);
    background-color: var(--lightest-gray);
}

.sidebar-list-item:hover {
    background-color: var(--lightest-gray);
}

.sidebar-list-item.active::before {
    content: "";
    background-color: var(--red);
    height: 100%;
    top: 0;
    left: 0;
    width: 5px;
    position: absolute;
}

.sidebar.open {
    width: 250px;
}
.your-channel {
    color: var(--dark-gray);
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.15rem;
    margin-top: 0.5rem;
}

.channel-name {
    color: var(--medium-gray);
    font-size: 0.75rem;
}

.sidebar .top-sidebar {
    height: 30px;
    transition: height var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .top-sidebar {
    height: 125px;
}

.sidebar .top-sidebar .hidden-sidebar {
    text-align: center;
    width: 100%;
}